:root {
  --product-black: #000;
  --product-white: #fff;
  --product-red: #ee1212;
  --product-green: #32840c;
  --product-light-green: #fa492261;
  --product-brown: #413e01;
  --product-yellow: #fffa87;
  --product-gray: #d9d9d9;
  --product-light-red: #9abd0c40;
  --product-background-color: #333;
  --product-pozady-color: #555;
  --prodiúct-finis-color: #1e1e1e;
}

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  padding: 0;
}

/*Header*/
header {
  background-color: var(--product-background-color);
  color: var(--product-white);
  padding: 1em 0;
  text-align: center;
}

/*NAVIGACE*/
nav {
  flex-grow: 1;
  text-align: center;
}

nav ul {
  display: inline-flex;
  list-style: none;
  margin: 0px;
  padding: 0;
  list-style: none;
  padding: 0;

  justify-content: center;
  gap: 1em;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--product-gray);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 0.5em 1em;
}

nav a:hover {
  background-color: var(--product-pozady-color);
}

/*ICON*/
.menu-icon {
  display: none;
}

.theme-toggle {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: auto;
}

/*Section*/
section {
  padding: 20px;
  text-align: center;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--product-background-color);
  color: var(--product-white);
  padding: 10px;
  cursor: pointer;
  display: block;
}

#section1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.product-card {
  background-color: var(--product-white);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

/*PRODUCT--CARD-1 */
.product-card {
  width: 350px;
  padding: 10px;
  position: relative;
  margin-left: 200px;
  height: 650px;
  margin-top: 185px;
  background-color: inherit;
  color: inherit;
}
.bestseller-badge {
  display: inline-block;
  background-color: var(--product-yellow);
  color: var(--product-brown);
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 0 5px 5px 0;
  padding: 4px 16px;
}
.discount-badge {
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 16px;
}
.claim-badge {
  display: inline-block;
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  top: 50px;
  left: 16px;
  width: 80px;
  border-radius: 0 5px 5px 0;
  padding: 4px 16px;
}
.product-image-container {
  height: 350px;
  text-align: center;
}
.product-image-container img {
  transition: transform 0.3s ease;
}

.product-image-container img:hover {
  transform: scale(1.1);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.product-title {
  font-size: 25px;
  line-height: 1.5;
  margin-top: -1px;
  margin-bottom: 24px;
}
.product-description {
  margin-bottom: 4px;
  margin-top: 0;
  margin-top: -10px;
}
.product-price-order-container {
  background-color: var(--product-light-red);
  position: relative;
  padding: 34px;
  border-radius: 5px;
  margin-bottom: 14px;
  margin-top: 20px;
}
.product-price {
  font-size: 28px;

  font-weight: bold;
}
.product-discount-price {
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}
.product-add-to-cart-container {
  position: absolute;
  right: 2px;
  top: 1px;
  color: var(--product-black);
}
.add-to-cart-button {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--product-black);
  background-color: var(--product-gray);
  border-radius: 6px;
}
.product-details-container {
  background-color: var(--product-light-green);
  padding: 25px;
  border-radius: 5px;
  position: relative;
  margin-top: -10px;
  font-size: 25px;
}
.product-shipping-label {
  color: var(--product-green);
  font-weight: bold;
}
.product-info-label {
  color: var(--product-black);
  font-weight: bold;
  position: absolute;
  top: 16px;
  right: 26px;
}

/* CARD2 */

.product-card2 {
  width: 350px;
  padding: 16px;
  position: relative;
  margin-left: 750px;
  height: 650px;
  margin-top: -700px;
}
.bestseller-badge2 {
  display: inline-block;
  background-color: var(--product-yellow);
  color: var(--product-brown);
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 0 5px 5px 0;
  padding: 4px 16px;
}
.discount-badge2 {
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 16px;
}
.claim-badge2 {
  display: inline-block;
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  top: 50px;
  left: 16px;
  width: 80px;
  border-radius: 0 5px 5px 0;
  padding: 4px 16px;
}
.product-image-container2 {
  height: 330px;
  text-align: center;
}

.product-image-container2 img {
  transition: transform 0.3s ease;
}

.product-image-container2 img:hover {
  transform: scale(1.1);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.product-title2 {
  font-size: 25px;
  line-height: 1.5;
  margin-top: -15px;
  margin-bottom: 24px;
}
.product-description2 {
  margin-bottom: 4px;
  margin-top: 0;
  margin-bottom: 12px;
}
.product-price-order-container2 {
  background-color: var(--product-light-red);
  position: relative;
  padding: 34px;
  border-radius: 5px;
  margin-bottom: 14px;
}
.product-price-order-container2 {
  font-size: 28px;

  font-weight: bold;
}
.product-discount-price2 {
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}
.product-add-to-cart-container2 {
  position: absolute;
  right: 2px;
  top: 1px;
  color: var(--product-black);
}
.add-to-cart-button2 {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--product-black);
  background-color: var(--product-gray);
  border-radius: 6px;
}
.product-details-container2 {
  background-color: var(--product-light-green);
  padding: 25px;
  border-radius: 5px;
  position: relative;
  margin-top: -10px;
  font-size: 25px;
}
.product-shipping-label2 {
  color: var(--product-green);
  font-weight: bold;
}
.product-info-label2 {
  color: var(--product-black);
  font-weight: bold;
  position: absolute;
  top: 16px;
  right: 26px;
}

/*CARD3 */

.product-card3 {
  width: 350px;
  padding: 16px;
  position: relative;
  margin-left: 1250px;
  height: 650px;
  margin-top: -680px;
}
.bestseller-badge3 {
  display: inline-block;
  background-color: var(--product-yellow);
  color: var(--product-brown);
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 0 5px 5px 0;
  padding: 4px 16px;
}
.discount-badge3 {
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  border-radius: 70%;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  position: absolute;
  top: 12px;
  right: -1px;
}
.claim-badge3 {
  display: inline-block;
  background-color: var(--product-red);
  color: var(--product-white);
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  top: 50px;
  left: 16px;
  width: 80px;
  border-radius: 0 5px 5px 0;
  padding: 4px 16px;
}
.product-image-container3 {
  height: 330px;
  text-align: center;
}

.product-image-container3 img {
  transition: transform 0.3s ease;
}

.product-image-container3 img:hover {
  transform: scale(1.1);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.product-title3 {
  font-size: 25px;
  line-height: 1.5;
  margin-top: -75px;
  margin-bottom: 24px;
}
.product-description3 {
  margin-bottom: 4px;
  margin-top: -5px;
}
.product-price-3 {
  background-color: var(--product-light-red);
  position: relative;
  padding: 44px;
  border-radius: 5px;
  margin-bottom: 13px;
  margin-top: 20px;
}
.product-price-order3 {
  font-size: 28px;

  font-weight: bold;
}
.product-discount-price-container3 {
  font-size: 26px;
  font-weight: bold;

  text-decoration: underline;
}
.product-add-to-cart-container3 {
  position: absolute;
  right: 2px;
  top: 1px;
  color: var(--product-black);
}
.add-to-cart-button3 {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 5px;
  border: 1px solid var(--product-black);
  background-color: var(--product-gray);
  border-radius: 6px;
}
.product-details-container3 {
  background-color: var(--product-light-green);
  padding: 25px;
  border-radius: 5px;
  position: relative;
  margin-top: -10px;
  font-size: 25px;
}
.product-shipping-label3 {
  color: var(--product-green);
  font-weight: bold;
}
.product-info-label3 {
  color: var(--product-black);
  font-weight: bold;
  position: absolute;
  top: 16px;
  right: 26px;
}
/*Formular*/
form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  gap: 1em;
  margin-top: 215px;

  font-size: 1.1rem;
}

button {
  font-size: 20px;
}

/*Paticka*/
footer {
  background-color: var(--product-background-color);
  color: var(--product-white);
  text-align: center;
  padding: 1em 0;
}

/* Šipka - zpět na začátek */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 16px;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 50%;
  background-color: var(--product-white);
}

.dark-mode {
  background-color: var(--product-black);
  color: var(--product-white);
}

.dark-mode header,
.dark-mode footer,
.dark-mode #back-to-top {
  background-color: var(--prodiúct-finis-color);
}
